.form{
    background-image: linear-gradient(to right, rgb(226, 151, 197) ,rgb(211, 211, 142))
    
    

}

.gmail{
    width: 25%;
    
}

.tele{
    width: 25%;
}

.encontranos{
    background-image: linear-gradient(to right, rgb(226, 151, 197) ,rgb(211, 211, 142))
}

.titulo{
    background-image: linear-gradient(to right, rgb(226, 151, 197) ,rgb(211, 211, 142))
}

.tarred{
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

.pie{
    background-image: linear-gradient(to right, rgb(226, 151, 197) ,rgb(211, 211, 142))

}