.form{
    background-color: beige;
    
    

}

.gmail{
    width: 25%;
    
}

.tele{
    width: 25%;
}

.encontranos{
    background-color: beige;
}

.titulo{
    background-color: beige;
}

.tarred{
    width: 50px; ;
}

.pie{
    background-color: rgb(255, 255, 228);
}

